.project-thread img{
    width: 644px;
}
* {
    Padding: 0;
    Margin: 0;
    box-sizing: border-box;
    } 
    li { 
    List-style : none;
    }
.social-media ul{background-color: #121212;}

.hero menu {
    display: flex;
    background-color: black;
    font-family: Hind;
    font-weight: 700;
    font-size: 18px;
    padding: 0px 0px 0px 72px;
    height: 82px;
    width: 100%;
    align-items: center;
}

.hero menu ul {
    list-style-type: none;

}
.hero menu ul li a{ 
    text-decoration: none; 
    color: #F9F9F9;
}
.hero menu .logo {
    font-size: 24px;
    line-height: 1px;
}
.hero menu .nav-bar {
    display: flex;
    width: 75%;
    justify-content: center;
}
.hero menu .nav-bar a {
    margin-left: 56px;
}
.hero menu .nav-bar a:hover {
    box-shadow: 24px 0px 0px #F9F9F9;
    
}
.background-blocks {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.background-block-left {
    background-color: #F9F9F9;
    height: 800px;
    width: 80%;
    left: 0px;
    height: 620px;
}
.background-block-right{
    
    background-color: #F9F9F9;
    height: 100%;
    width: 80%;
}
.background-block-right-wrapper{
    display: flex;
    justify-content: end;
    height: 620px;
    width: 100%;
}
.background-block-2{
    height: 100px;
    width: 80%;
    z-index: 1;
    position: absolute;
}
.background-block-end{
    background-color: #F9F9F9;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.arrows{
    position: absolute;
    display: flex;
    z-index: 2;
    flex-direction: column;
    height: 2144px;
    width: 100%;
    justify-content: space-between;
}
.arrow-left-wrapper {
width: 100%;
padding-left: 312px;
margin-top: 152px;
}
.arrow-right-wrapper {
    display: flex;
    justify-content: end;
    width: 100%;
    padding-right: 400px;
    }
    .arrow-left-wrapper-2 {
        width: 100%;
        padding-left: 144px;
        padding-left: 344px;
        }
        .arrow-right-wrapper-2 {
            display: flex;
            justify-content: end;
            width: 100%;
            padding-right: 400px;
            padding-bottom: 20px;
            }
h1{
    font-family: Montserrat;
    font-size:44px;
}
.CTA {
    font-family: Montserrat;
    font-weight: bold;
    color: #F9F9F9;
    background-color: #121212;
    font-size: 16px;
    padding: 16px 20px 16px 20px;
    text-decoration: none;
    border-radius: 2px;
    transition: 0.5s ease;
}
.CTA:hover{
background-color: #606060;
border-radius: 100px;
}
.CTA:active{
    background-color: #F9F9F9;
}
p {
    font-family: Hind;
    font-weight: 300;
    font-size: 18px;
}
.text-image {
    position: relative;
    z-index: 2000;
    height: 400px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 120px;
    margin-bottom: 224px;
    align-items: center;
}
.text-headline {
    display: flex;
    flex-direction: column;
    margin-left: 164px;
    border-left: solid #121212 8px;
    padding-left: 8px;
}
 h1 {
    margin-bottom: 8px;
}
.project-thread .image-wrapper {
    margin-right: 80px;
}
.project-thread .image {
box-shadow: 0px 5px 20px #3535353b;
}
.text-image-inverse {
    position: relative;
    height: 400px;
    z-index: 2000;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 80px;
    align-items: center;
    margin-bottom: 224px;
}
.text-headline-inverse {
    display: flex;
    flex-direction: column;
    margin-right: 104px;
    border-left: solid #121212 8px;
    padding-left: 8px;
}
.project-thread .image-wrapper-inverse {
    margin-left: 80px;
}
.text-image-inverse-last {
    position: relative;
    z-index: 2000;
    height: 400px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 80px;
    align-items: center;
}
.contact {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 120;
    width: 100%;
    height: 260px;
    margin-top: 104px;
 }
 .contact h1{ 
       font-size: 36px; 
       margin-bottom: 40px;
    }

.contact-content{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-color: #121212;
border-style: solid;
border-width: 8px;
border-radius: 2px;
background-color: #F9F9F9;
width: 640px;
height: 100%;
}
.contact-wrapper{
    position: relative;
    z-index: 200;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.contact-wrapper-2 .image{
    z-index: 240;
    height: 152px;
    margin-right: -80px;
    margin-top: -12px;
}
.contact-wrapper .contact-wrapper-2 {
display: flex;
justify-content: center;
align-items: start;
height: 100%;
width: 800px;
}
.back-to-reception a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #121212;
    font-weight: bold;
    font-family: Montserrat;
    font-size: 14px;
    margin-left: 76px;
    height: 104px;
}

.back-to-reception img {
    margin-right: 12px;
}
.back-to-reception img:hover {
    height: 56px;
    margin-left: -20px;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: #121212;
    height: 216px;
    justify-content: end;
}
.nav-buttons li a{
    color: #F9F9F9;
     text-decoration: none; 
    font-family: Hind;
    font-weight: bold;
    font-size: 18px;
    margin-left: 56px;
}
.nav-buttons {
    display: flex;
    margin: 0px 0px 40px 24px;
}
.social-media li a{
   color: #F9F9F9;
    text-decoration: none;  
    font-family: Hind;
    font-weight: bold;
    font-size: 18px;
    margin-left: 12px;
}
.social-media li {
    display: flex;
}
.social-media {
    margin: 0px 0px 36px 68px;
}
.social-media .follow-me {
margin-right: 12px;
}
.social-media .stick {
    margin-top: 6px;
}
.brand-s-name {
    color: #F9F9F9; 
    font-family: Hind;
    font-weight: lighter;
    margin: 0px 0px 16px 78px;
}
.brand-s-name p {
    font-size: 15px;
}
.social-media .stick {
    background-color: #F9F9F9;
    height: 16px;
    width: 3px;
}
@media screen and (max-width: 400px) {
    body{ background-color: #F9F9F9!important;}
    .arrows {
        display: none;
    }
    .hero menu .nav-bar a {
        margin-left: 20px;
    }
    .background-block{
        display: none;
    }
    .background-block-2{
        top: 780px;
    }
    .background-block-3{
        display: none;
    }
    .background-block-5{
        display: none;
    }
    .hero menu {
        display: flex;
        background-color: black;
        font-family: Hind;
        font-weight: 700;
        font-size: 18px;
        padding: 4px 0px 0px 32px;
        height: 82px;
        width: 100%;
        align-items: center;
    }
    .text-headline {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        border-left: solid #121212 8px;
    }
    .project-thread .image-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 24px;
        margin-right: 0px;
    }
    .text-image{
        flex-direction: column;
        margin-bottom: 0px;
    }
    .text-image-inverse {
        position: relative;
        height: 400px;
        z-index: 2000;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        margin-bottom: 0px;
        margin-top: 200px;

    }
    .text-image-inverse-last {
        position: relative;
        z-index: 2000;
        height: 400px;
        display: flex;
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 200px;
    }
    .text-headline-inverse {
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        border-left: solid #121212 8px;
        margin-left: 24px;
    }
    .project-thread .image-wrapper-inverse {
        margin-left: 0px;
        display: flex;
        justify-content: center;
        margin-top: 24px;
    }
    .project-thread .image {
    box-shadow: 0px 5px 20px #3535353b;
    width: 85%;
    }
    .contact-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-color: #121212;
        border-style: solid;
        border-width: 8px;
        border-radius: 2px;
        background-color: #F9F9F9;
        width: 98%;
        height: 100%;
        }
        .contact-wrapper-2 .image{
           display: none;
        }
    .contact-wrapper .contact-wrapper-2 {
        
        width: 338px;
    }
    .contact h1{
        text-align: center;
    }
    .contact {
        margin: 0px 0px 0px 0px;
     }
     .contact-wrapper{
        width: 100%;
    height: 336px;
        margin-top: 104px;
    }
    .projects ul li{
        display: flex;
        justify-content: center;
        margin-left: 0px;
        padding-bottom: 16px;
        
    }
    .nav-buttons li a{
        color: #F9F9F9;
         text-decoration: none; 
        font-family: Hind;
        font-weight: bold;
        font-size: 18px;
        margin-left: 20px;
    }
    .nav-buttons {
    display: flex;
    margin: 0px 0px 40px 24px;
}
.social-media {
    margin: 0px 0px 36px 30px;
}
.brand-s-name {
    margin: 0px 0px 16px 42px;
}
.background-block-left {
    display: none;
}
.background-block-right {
    display: none;
}
.background-block-right-wrapper {
    display: none;
}
.back-to-reception a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #121212;
    font-weight: bold;
    font-family: Montserrat;
    font-size: 14px;
    margin-left: 32px;
    height: 104px;
}
  } 